---
layout: default
---
{%- include content/content_assigns.html -%}
<div class="row">
	<div class="col">
		{{ content_only | markdownify }}		
	</div>
</div>

{% for post in site.posts %}
	<div class="row py-2 my-2">
		<div class="col-2">
		  {% if post.image %}
			<img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid">
			<!--
            consider class=post-image to refine presentation of thumbnails
            <img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid post-image">
            -->
		  {% else %}
            <img src="../assets/images/share/arka_logo.svg" alt="ARK Alliance logo" class="img-fluid" width="50">
		  {% endif %}
		</div>
		<div class="col-10">
			<h2 class="h3">
				<a href="{{ post.url | prepend: site.baseurl }}"
				   class="">
					{{ post.title }}
				</a>
			</h2>
			<small class="ark-alliance__tagline d-block text-secondary text-uppercase fs-6">
				{{ post.date | date: "%Y-%m-%d" }}
			</small>
			<small class="ark-alliance__tagline d-block text-secondary text-uppercase fs-6">
			    {%- include content/authors.html post=post -%}
			</small>
		</div>
	</div>
{% endfor %}

<!-- Pagination links -->
<ul class="pagination">
</ul>
