
{%- assign sorted_pages = site.pages | sort: "title" -%}
{%- assign site_docs = site.static_files | where: "document", true -%}
<div class="row">
	<div class="col">
		<h2>Pages</h2>
		<ul>
		{% for page in sorted_pages %}
			{% if page.title and page.permalink != "/404.html" %}
			<li>
				<a href="{{ page.permalink }}">
					{{ page.title }}
				</a> 
			</li>
			{% endif %}
		{% endfor %}
		</ul>
		{% if site_docs|size > 1 %}
			<h2>Downloads</h2>
			<ul>
			{% for file in site_docs %}
				<li>
					<span class="badge bg-dark text-uppercase">
						{{ file.extname | remove_first: "." }}
					</span>
					<a href="{{ page.path }}">
						{{ file.basename }}
					</a>
					<small class="text-secondary d-block">
						Modified: {{ file.modified_time | date: "%Y-%m-%d" }}
					</small>
				</li>
			{% endfor %}			
			</ul>
		{% endif %}
	</div>
	<div class="col">
		<h2>News Items</h2>
		<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url }}">
					{{ post.title }}
				</a>
				<small class="d-block text-secondary">
					{{ post.date | date: "%Y-%m-%d" | prepend: "Posted: "}}
					by {{ post.author | default: site.author }}
				</small>
			</li>	
		{% endfor %}
		</ul>
	</div>	
</div>
