<div class="row">
	<div class="col">
		<h2>Pages</h2>
		<ul>
		{% for page in site.pages %}
			{% if page.title and page.permalink != "/404.html" %}
			<li>
				<a href="{{ page.permalink | prepend:site.baseurl }}">
					{{ page.title }}
				</a> 
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<div class="col">
		<h2>Posts</h2>
		<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.permalink | prepend:site.baseurl }}">
					{{ post.title }}
				</a>
				<small class="d-block text-secondary">
					{{ post.date | date: "%Y-%m-%d" | prepend: "Posted: "}}
					by {{ post.author | default: site.author }}
				</small>
			</li>	
		{% endfor %}
		</ul>
	</div>	
</div>
